{
  "extends": ["react-app"],
  "rules": {
    "no-console": "warn",
    "object-shorthand": "error",
    "quote-props": ["error", "as-needed"],
    "indent": ["error", 2, {"flatTernaryExpressions": true}],
    "prefer-cont": ["error"],
    "react/prop-types": 0,
    "semi": ["error", "never"],
    "jsx-quotes": ["error", "prefer-single"],
    "object-curly-spacing": ["error", "always"],
    "array-bracket-spacing": ["error", "never"]
  }
}